In [1]:
import sqlite3  as sql3
import pandas as pd

In [7]:
users = {"User": ['test', 'another'], "Password":["test", "1234"]}
datF  = pd.DataFrame(users)

In [8]:
datF

      User Password
0     test     test
1  another     1234

In [5]:
savedAnalisys = {"User": ['test', 'another'], "storedAnalisys":["", ""]}
savedAnalisysDF  = pd.DataFrame(savedAnalisys)

In [6]:
savedAnalisysDF

      User storedAnalisys
0     test
1  another

In [10]:
conn = sql3.connect('accounts.db')

In [11]:
datF.to_sql('users', conn, if_exists='replace', index=False)

In [12]:
savedAnalisysDF.to_sql('analysis', conn, if_exists='replace', index=False)

In [15]:
conn = sql3.connect('accounts.db')
c = conn.cursor()
t = ('test',)
c.execute('SELECT * FROM users WHERE User=?', t)
print(c.fetchone())
conn.close()

('test', 'test')

In [10]:
conn = sql3.connect('.\\accounts.db')
c = conn.cursor()
values = ( 'ciccio', 'test')
sql = ''' UPDATE analysis SET storedAnalisys = ? where User= ?'''
c.execute(sql, values)
conn.commit()
conn.close()