# BlackBox Matching

### Import Statement

In [1]:
import Conf_Calculator as CC
import pandas as pd 
import string_sum as sr

### Utility Functions

In [2]:
def ConfigurationBoundleString(list_of_items):
    exit_string = ''
    for elem_pos in range(len(list_of_items)):
        if (elem_pos + 1)%2 == 0:
            exit_string = exit_string + '~' + str(list_of_items[elem_pos])
        else:
            exit_string = exit_string + ',' + str(list_of_items[elem_pos])
    
    return exit_string[1:]

In [3]:
def getOrderDat_returnBoundleToOrder(dataFrameOfOrders):
    string_out = ''
    list_storing_strings = []
    months = []
    seq_numbers = []
    month = None
    OrderSeq = None
    for  index, row in dataFrameOfOrders.iterrows():

        #first line
        if (month is None) and (OrderSeq is None):
            string_out = row['SKU'] + '~' + str(row['qty'])
            month, OrderSeq = row['Month'], row['OrdSeq']

        elif (month != row['Month']) or( OrderSeq != row['OrdSeq']):
            list_storing_strings.append(string_out)
            months.append(month)
            seq_numbers.append(OrderSeq)
            
            string_out = row['SKU'] + '~' + str(row['qty'])
            month, OrderSeq = row['Month'], row['OrdSeq'] 
        else:
            string_out = string_out + str(row['SKU']) + '~' + str(row['qty']) + ',' 

    d = {'boundles': list_storing_strings, 'month': months, 'seqNumb':seq_numbers }
    boundlesToMonthSquenceOrders = pd.DataFrame(data=d)     
    return boundlesToMonthSquenceOrders

### Process

In [4]:
OCpR, Prices, Orders = CC.dataframes_splitter()

In [5]:
finalizedModel = CC.loop_thru_dataframes(OCpR)

In [6]:
finalizedModel = finalizedModel[ list(filter( lambda x : 'tag' not in x,  finalizedModel.columns)) ]

In [7]:
config_boundles = pd.DataFrame()
config_boundles['code'] = finalizedModel.index
config_boundles['concat'] = pd.Series(finalizedModel.fillna('').values.tolist()).map(lambda x: ConfigurationBoundleString(x))

In [8]:
dataFrameOfOrders = Orders[0]

In [9]:
boundlesToMonthSquenceOrders = getOrderDat_returnBoundleToOrder(dataFrameOfOrders)

In [10]:
boundlesToMonthSquenceOrders.head()

                                            boundles  month  seqNumb
0  210-AUJY~1325-BDPO~1,329-BDWH~1,329-BEIJ~1,461...      1        1
1  210-AUJY~1325-BDPO~1,329-BDWH~1,329-BEIJ~1,461...      1        2
2  210-AUJY~1325-BDPO~1,329-BDWH~1,329-BEIJ~1,461...      1        3
3  210-AUJY~1325-BDPO~1,329-BDWH~1,329-BEIJ~1,461...      1        4
4  210-AUJY~1325-BDPO~1,329-BDWH~1,329-BEIJ~1,461...      1        5

In [11]:
boundlesToMonthSquenceOrders.shape

(135, 3)

In [13]:
config_boundles.head()

   code                                             concat
0     0  210-AUJY~1,325-BDPO~1,329-BDWH~1,329-BEIJ~1,46...
1     1  210-AUJY~1,325-BDPO~1,329-BDWH~1,329-BEIJ~1,46...
2     2  210-AUJY~1,325-BDPO~1,329-BDWH~1,329-BEIJ~1,46...
3     3  210-AUJY~1,325-BDPO~1,329-BDWH~1,329-BEIJ~1,46...
4     4  210-AUJY~1,325-BDPO~1,329-BDWH~1,329-BEIJ~1,46...

In [14]:
conf_list_of_boundles_data = list(map(list,zip(config_boundles['concat'], config_boundles['code'].astype(str))))

In [15]:
boundlesToMonthSquenceOrders_data = list(map(list,zip(  boundlesToMonthSquenceOrders['boundles'], boundlesToMonthSquenceOrders['month'].astype(str)+ "_" + boundlesToMonthSquenceOrders['seqNumb'].astype(str)  )))

In [16]:
boundlesToMonthSquenceOrders_data[0]

['210-AUJY~1325-BDPO~1,329-BDWH~1,329-BEIJ~1,461-AAEL~1,321-BDKH~1,385-BBKT~1,379-BCRB~1,330-BBJZ~1,450-ADWM~1,492-BBDI~2,800-BBDM~1,387-BBEY~1,350-BBYP~1,770-BBBL~1,385-BBCF~1,385-BBKI~2,384-BBBL~1,631-AACK~1,340-BYRU~1,429-AAIQ~1,340-BYUL~1,350-BBKB~1,350-BBSY~1,385-BBLE~1,470-ACPE~1,403-BBRU~1,780-BCNW~1,405-AAJU~1,379-BCQY~1,379-BCRF~1,709-BBOR~1,338-BSWY~2,412-AAIQ~2,384-BBQI~1,370-AEQD~8,370-AEPP~1,370-AAIP~1,384-BCIO~1,634-BUWG~1,400-BFEH~2,634-BUWF~2,384-BCDM~1,400-BEMJ~2,634-BSJZ~1,634-BSJU~2,634-BSKK~1,555-BCKP~1,555-BCKN~1,SPS-36EL~1,865-BBHT~1,865-BBHU~1,819-0583~1,819-2574~1,819-2577~1,',
 '1_1']

In [17]:
conf_list_of_boundles_data[0]

['210-AUJY~1,325-BDPO~1,329-BDWH~1,329-BEIJ~1,461-AAEL~1,321-BDKH~1,385-BBKT~1,379-BCRB~1,330-BBJZ~1,450-ADWM~1,492-BBDI~2,800-BBDM~1,387-BBEY~1,350-BBYP~1,770-BBBL~1,385-BBCF~1,385-BBKI~2,384-BBBL~1,631-AACK~1,340-BYRU~1,429-AAIQ~1,340-BYUL~1,350-BBKB~1,350-BBSY~1,385-BBLE~1,470-ACPE~1,403-BBRU~1,780-BCNW~1,405-AAJU~1,379-BCQY~1,379-BCRF~1,709-BBOR~1,338-BSWY~2,412-AAIQ~2,384-BBQI~1,370-AEQF~24,370-AEPP~1,370-AAIP~1,384-BCIO~1,634-BUWG~1,400-BFEH~1,634-BUWF~1,384-BCJN~1,400-BEMJ~1,634-BSKQ~2,634-BSKH~2,634-BSKK~1,555-BCKP~1,~0,SPS-36EN~1,865-BBHV~1,865-BBHW~1,819-0583~1,819-2574~1,819-2577~1',
 '0']

In [29]:
b = sr.loop_two_lists_rayon_codes(conf_list_of_boundles_data , 
                                  boundlesToMonthSquenceOrders_data, 0.8)

In [31]:
fictionary_matching_results = {}
for i in b:
    if i.orderseq in fictionary_matching_results.keys():
        if (i.score > fictionary_matching_results[i.orderseq][1]):
            fictionary_matching_results[i.orderseq] =  [i.boundle_code, i.score]
    else:
        fictionary_matching_results[i.orderseq] =  [i.boundle_code, i.score]

In [32]:
fictionary_matching_results

{'1_5': ['34', 0.9298245614035088],
 '1_6': ['26', 0.9298245614035088],
 '1_7': ['56', 0.896551724137931],
 '1_10': ['24', 0.896551724137931],
 '1_24': ['52', 0.896551724137931],
 '1_31': ['48', 0.896551724137931],
 '2_1': ['50', 0.9298245614035088],
 '2_2': ['6', 0.9298245614035088],
 '2_13': ['50', 0.9298245614035088],
 '2_14': ['34', 0.9298245614035088],
 '3_26': ['10', 0.9298245614035088],
 '3_29': ['10', 0.9298245614035088],
 '3_35': ['34', 0.9298245614035088],
 '4_15': ['50', 0.9298245614035088],
 '4_17': ['26', 0.9298245614035088],
 '4_19': ['52', 0.896551724137931],
 '4_20': ['50', 0.9298245614035088],
 '5_4': ['2', 0.9298245614035088],
 '5_12': ['54', 0.9298245614035088],
 '5_15': ['54', 0.9298245614035088],
 '1_3': ['29', 0.896551724137931],
 '1_11': ['55', 0.9298245614035088],
 '1_32': ['59', 0.9298245614035088],
 '2_4': ['55', 0.9298245614035088],
 '2_5': ['53', 0.896551724137931],
 '2_9': ['53', 0.896551724137931],
 '2_22': ['49', 0.896551724137931],
 '3_15': ['3', 0.9298245614035088],
 '3_17': ['29', 0.896551724137931],
 '3_25': ['29', 0.896551724137931],
 '3_33': ['29', 0.896551724137931],
 '4_1': ['33', 0.896551724137931],
 '4_9': ['55', 0.9298245614035088],
 '4_18': ['11', 0.9298245614035088],
 '5_2': ['53', 0.896551724137931],
 '5_3': ['7', 0.9298245614035088],
 '5_18': ['55', 0.9298245614035088],
 '2_3': ['75', 0.9298245614035088],
 '3_2': ['75', 0.9298245614035088],
 '5_10': ['15', 0.9298245614035088],
 '5_14': ['15', 0.9298245614035088],
 '1_2': ['79', 0.9298245614035088],
 '4_2': ['19', 0.9298245614035088],
 '4_8': ['79', 0.9298245614035088],
 '1_19': ['22', 0.9298245614035088],
 '4_11': ['22', 0.9298245614035088],
 '4_12': ['22', 0.9298245614035088],
 '1_8': ['83', 0.9298245614035088],
 '1_4': ['62', 0.9298245614035088],
 '1_16': ['64', 0.896551724137931],
 '1_28': ['64', 0.896551724137931],
 '2_25': ['38', 0.9298245614035088],
 '3_1': ['60', 0.896551724137931],
 '3_3': ['62', 0.9298245614035088],
 '3_4': ['68', 0.896551724137931],
 '3_12': ['68', 0.896551724137931],
 '3_22': ['70', 0.9298245614035088],
 '3_23': ['60', 0.896551724137931],
 '3_30': ['12', 0.896551724137931],
 '4_4': ['60', 0.896551724137931],
 '4_5': ['20', 0.896551724137931],
 '4_6': ['20', 0.896551724137931],
 '4_21': ['12', 0.896551724137931],
 '1_13': ['61', 0.896551724137931],
 '1_15': ['65', 0.896551724137931],
 '1_25': ['41', 0.896551724137931],
 '2_12': ['41', 0.896551724137931],
 '2_17': ['39', 0.9298245614035088],
 '4_14': ['63', 0.9298245614035088],
 '5_6': ['41', 0.896551724137931],
 '4_16': ['87', 0.9298245614035088],
 '5_13': ['87', 0.9298245614035088],
 '1_18': ['95', 0.9298245614035088],
 '2_8': ['95', 0.9298245614035088],
 '3_32': ['95', 0.9298245614035088],
 '2_7': ['99', 0.9298245614035088],
 '5_11': ['107', 0.9298245614035088],
 '3_8': ['111', 0.9298245614035088],
 '4_3': ['111', 0.9298245614035088],
 '2_11': ['115', 0.9298245614035088],
 '3_13': ['127', 0.9298245614035088],
 '4_10': ['127', 0.9298245614035088],
 '1_14': ['135', 0.9298245614035088],
 '3_5': ['135', 0.9298245614035088],
 '3_10': ['139', 0.9298245614035088],
 '1_20': ['78', 0.9298245614035088],
 '1_23': ['120', 0.896551724137931],
 '1_27': ['128', 0.896551724137931],
 '2_20': ['78', 0.9298245614035088],
 '3_9': ['130', 0.9298245614035088],
 '3_16': ['126', 0.9298245614035088],
 '3_18': ['76', 0.896551724137931],
 '3_19': ['96', 0.896551724137931],
 '3_24': ['130', 0.9298245614035088],
 '5_16': ['96', 0.896551724137931],
 '5_21': ['130', 0.9298245614035088],
 '2_6': ['125', 0.896551724137931],
 '2_16': ['125', 0.896551724137931],
 '2_19': ['101', 0.896551724137931],
 '2_21': ['129', 0.896551724137931],
 '4_7': ['73', 0.896551724137931],
 '5_7': ['81', 0.896551724137931],
 '5_17': ['125', 0.896551724137931],
 '1_1': ['94', 0.9298245614035088],
 '1_9': ['134', 0.9298245614035088],
 '1_21': ['118', 0.9298245614035088],
 '1_22': ['110', 0.9298245614035088],
 '1_26': ['84', 0.896551724137931],
 '1_30': ['134', 0.9298245614035088],
 '2_15': ['116', 0.896551724137931],
 '2_18': ['114', 0.9298245614035088],
 '2_23': ['118', 0.9298245614035088],
 '2_26': ['110', 0.9298245614035088],
 '3_6': ['92', 0.896551724137931],
 '3_7': ['136', 0.896551724137931],
 '3_14': ['116', 0.896551724137931],
 '3_20': ['116', 0.896551724137931],
 '3_21': ['134', 0.9298245614035088],
 '3_28': ['134', 0.9298245614035088],
 '3_31': ['114', 0.9298245614035088],
 '5_5': ['134', 0.9298245614035088],
 '5_8': ['134', 0.9298245614035088],
 '1_12': ['113', 0.896551724137931],
 '1_17': ['85', 0.896551724137931],
 '1_29': ['85', 0.896551724137931],
 '2_10': ['141', 0.896551724137931],
 '2_24': ['113', 0.896551724137931],
 '3_11': ['137', 0.896551724137931],
 '3_27': ['89', 0.896551724137931],
 '3_34': ['89', 0.896551724137931],
 '4_13': ['93', 0.896551724137931],
 '5_1': ['85', 0.896551724137931],
 '5_9': ['85', 0.896551724137931],
 '5_19': ['113', 0.896551724137931],
 '5_20': ['93', 0.896551724137931]}