In [15]:
import Conf_Calculator as CC
import pandas as pd

In [11]:
orderData = CC.sales_analysis_gen_matcher()
advantages_disadvantages = CC.AdvantageDisadvantageCal()

In [16]:
pd.DataFrame(orderData['data']), advantages_disadvantages[0], l_key

,Month,OrdSeq,code,unit_Price_QTY,CPU_level_tag,cache_limit_tag,vSAN_level_tag,N_years_service_tag
0,1,5,34,5539.8081,Platinum,single,Enterprise,3
1,2,14,34,5419.3590,Platinum,single,Enterprise,3
2,3,35,34,5337.2475,Platinum,single,Enterprise,3
3,1,6,26,5277.4788,Platinum,single,Enterprise,3
4,4,17,26,5084.5275,Platinum,single,Enterprise,3
...,...,...,...,...,...,...,...,...
130,3,11,137,5101.7850,Silver,multiple,ELA,3
131,3,27,89,5001.1650,Gold,multiple,ELA,3
132,3,34,89,5001.1650,Gold,multiple,ELA,3
133,4,13,93,5296.0050,Gold,multiple,ELA,3
134,5,20,93,5296.0050,Gold,multiple,ELA,3